# Base de Datos - Multiples Tablas
## Hoja de Trabajo

![](https://www.databasestar.com/wp-content/uploads/2019/07/ERD-Website.png)

### Links utiles:
* SQLite Online: https://sqliteonline.com/
* Diagramas ER: https://dbdiagram.io/home
* Base da datos de ejemplo: https://www.sqlitetutorial.net/sqlite-sample-database/

In [9]:
import sqlite3

In [6]:
with sqlite3.connect("database.db") as conn:
    cur = conn.cursor()
    SQL = """CREATE TABLE IF NOT EXISTS 
                pacientes (id_pac INTEGER PRIMARY KEY, 
                           nombre TEXT,
                           apellido TEXT, 
                           fec_nac TEXT, 
                           altura REAL, 
                           genero TEXT)"""
    cur.execute(SQL)
    
    SQL = """CREATE TABLE IF NOT EXISTS 
                medicos (id_med INTEGER PRIMARY KEY, 
                         nombre TEXT, 
                         apellido TEXT, 
                         nro_colegi INTEGER)"""
    cur.execute(SQL)
    
    SQL = """CREATE TABLE IF NOT EXISTS 
                citas (id_cita INTEGER PRIMARY KEY, 
                       id_pac INTEGER, 
                       id_med INTEGER, 
                       fecha TEXT, 
                       FOREIGN KEY(id_pac) 
                            REFERENCES pacientes(id_pac), 
                        FOREIGN KEY(id_med)
                            REFERENCES medicos(id_med))"""
    cur.execute(SQL)
    
    SQL = """CREATE TABLE IF NOT EXISTS 
                reg_pesos (id_pac INTEGER, 
                           id_med INTEGER, 
                           peso REAL, 
                           FOREIGN KEY(id_pac)
                               REFERENCES pacientes(id_pac), 
                            FOREIGN KEY(id_med) 
                                REFERENCES medicos(id_med))"""
    cur.execute(SQL)
    
conn.close()

## Join, Funciones de Agregación, GroupBy

![](https://ingenieriadesoftware.es/wp-content/uploads/2018/07/sqljoin.jpeg)

### ¿Qué pacientes tienen cita en una fecha determinada?

In [ ]:
SELECT pacientes.nombre, pacientes.apellido 
FROM pacientes JOIN citas
ON pacientes.id_pac = citas.id_pac 
WHERE citas.fecha = ?

### ¿Qué pacientes tiene citas en una fecha determinada con un medico determinado?

In [ ]:
SELECT pacientes.nombre, pacientes.apellido,
       medicos.nombre, medicos.apellido
FROM pacientes JOIN citas JOIN medicos
ON pacientes.id_pac = citas.id_pac
    AND citas.id_med = medicos.id_med
WHERE citas.fecha = ? AND medicos.nro_colegi = ?

### ¿Cuántas citas se tienen en una fecha?

In [ ]:
SELECT COUNT(id_cita) FROM citas WHERE fecha = ?

### ¿Cuántos medicos atenderán en una fecha determinada?

In [ ]:
SELECT COUNT(DISTINCT id_med) FROM medicos JOIN citas 
ON medicos.id_med = citas.id_med
WHERE citas.fecha = ?

### ¿Cuál es el peso máximo, mínimo y promedio de un paciente determinado?

In [ ]:
SELECT MAX(peso), 
       MIN(peso), 
       AVG(peso) 
FROM pacientes JOIN reg_pesos
ON pacientes.id_pac = reg_pesos.id_pac
WHERE pacientes.id_pac = ?

### ¿Cuál es el peso promedio de los doce pacientes de mayor peso de un médico determinado, ordenado por peso?

In [ ]:
SELECT 
    pacientes.nombre, 
    pacientes.apelllido, 
    AVG(reg_peso.peso)
FROM pacientes JOIN reg_pesos JOIN citas JOIN medicos
    ON pacientes.id_pac = reg_pesos.id_pac 
        AND reg_pesos.id_cita = citas.id_cita
        AND citas.id_med = medicos.id_med
WHERE id_med = ?
GROUP BY (pacientes.nombre, pacientes.apellido)
ORDER BY AVG(reg_peso.peso) DESC
LIMIT 12

## Base de Datos Chinook

![](https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)

### ¿Existe el artista Metallica en la dB?

In [31]:
artista = "Metallica"

In [32]:
with sqlite3.connect("chinook.db") as conn:
    cur = conn.cursor()
    SQL = "SELECT * FROM artists WHERE name = ?"
    cur.execute(SQL, (artista,))
    
    for item in cur:
        print(item)

(50, 'Metallica')

### Mostrar un listado de los albums del artista en la tienda

### Hacer un listado de los albums y los tracks *por album*, junto con el precio de cada track

    Album 1:
        1. Track 1 [XX.XX USD]
        2. Track 2 [XX.XX USD]
        .
        .
        
    Album 2:
    1. Track 1 [XX.XX USD]
    .
    .
    .

### Mostrar el precio de cada album (el total de todos los tracks de cada album). Ordear por nombre del album

### ¿Cuáles son los 5 países en donde se encuentran los clientes que más compras hacen del artista? Incluir el total de compras. Ordenar en forma descendente por total de compras

    Nombre Pais [XX.XX USD]

### Listas los nombres de los representantes de los 5 clientes que más productos compran del artista? Ordenar de forma descendente por el total de compras

    Nombre Cliente [XX.XX USD] - Nombre Representante

### ¿Cuales son los Top 10 artistas de la tienda? (esto es, los que más han facturado en la tienda). Ordene de forma correcta